.myPhoto {
  border-radius: 100%;
}
.myPhotoDiv {
  text-align: center;
}
.blogCap {
  font-size: 2.5rem;
}
.myLinks {
  line-height: 1.5;
  margin: 4rem 0;
  color: #93adff;
}
.myLinks:hover {
  text-decoration: underline;
}
.date {
  font-size: 1rem;
  font-family: Helvetica;
}
.blogContent {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.blogTitle {
  font-size: 4rem;
}
.description {
  margin: 3rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}
.backHome {
  color: #93adff;
}
